/* montserat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}
/* utility start */
.btn-sub {
    background-color: #013F7E;
    border-radius: 20px;
    padding: 10px 24px !important;
    font-size: 16px;
    color: #fff !important;
}
/* utility end */
.header {
    background-image: url(../img/banner.jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;
}
.navbar {
    padding: 10px 20px;
}
.navbar .fa-bars{
    color: #fff !important;
    font-size: 24px;
}
.navbar-toggler{
    border: none !important;
    outline: none !important;
}
.navbar-brand img{
    width: 220px !important;
}
.navbar .navbar-nav .nav-item .nav-link {
    color: #fff !important;
}
/* welcome section start */
.welcome {
    padding: 50px 150px;
    margin-top: -140px;
    background-color: #fff;
    box-shadow: 0 0 20px 7px rgb(0, 0, 0,0.2);
    border-radius: 6px;
}
.welcome h2 {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 40px;
    color: #333;
}
/* welcome section end */
/* yoga section start */
.yoga {
    margin-top: 125px;
    margin-bottom: 50px;
}
.yoga .yoga-description h2{
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: 600;
    text-align: justify;
}
.yoga .yoga-description p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
}
/* yoga section end */
/* video sectoin start */
.video {
    margin-top: 20px;
    margin-bottom: 40px;
}
.video .video-text {
    margin-top: 40px;
}
.video .video-text h2 {
    font-weight: 600;
    font-size: 30px;
    color: #333;
    margin-bottom: 30px;
}

/* video sectoin end */
/* service sectoin start */
.service {
    padding: 80px 0;
    background-color: #efefef;
}
.service .service-text {
    text-align: justify;
}
.service .service-text h2 {
    font-weight: 600;
    font-size: 25px;
}
/* service sectoin end */
/* feature section start */
.feature {
    background: linear-gradient( rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../img/feature-background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 40px;
}
.feature .feature-img {
    padding: 80px 0;
}
.feature .feature-all{
    padding-top: 80px
}
.feature .feature-box {
    margin-bottom: 25px;
}
.feature .feature-icon i {
    color: #fff;
    font-size: 45px;
    margin-top: 5px;

}
.feature .feature-text h2 {
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: 600;
}
.feature .feature-text p{
    font-size: 14px;
}
/* feature section end */
/* testimonials start */
.testimonials {
    margin-top: 80px;
    margin-bottom: 80px;
}
.testimonial-heading {
    margin-bottom: 80px;
}
.testimonial-heading h2 {
    font-weight: 600;
    color: #013F7E;
    margin-bottom: 20px;
    font-size: 45px;
}
.testimonials .review {
    padding: 10px 30px;
    transition: all .3s ease-in-out;
}
.testimonials .review:hover {
    transform: translateY(-15px);
}
.testimonials .user-text {
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    padding: 15px 10px 10px 30px;
    border-radius: 10px;
}
.testimonials .user-text .fab {
    color: #013F7E;
    font-size: 22px;
    margin-top: 12px;
}
.testimonials .user-text small {
    color: #013F7E;
    font-size: 14px;
    font-weight: 600;
   
}
.testimonials .user-img img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid #fff;
    margin-top: -20px;
    margin-left: -30px;
}
/* testimonials end */
/* newsletter start */
.newsletter {
    margin-top: 100px;
    margin-bottom: 50px;
}
.subscribe {
    background-color: #013F7E;
    padding: 50px 20px;
    box-shadow: 0 0 20px 7px rgb(0, 0, 0,0.2);
    border-radius: 10px;
}
.subscribe-text h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}
.subscribe-text p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 40px;
}
.input-group {
    max-width: 550px;
    margin: 10px auto;
    padding: 6px;
    background-color: #fff;
    border-radius: 30px;
}
.input-group .form-control {
    border: none;
    outline: none;
    border-radius: 30px;
    background: transparent;
}
.input-group .form-control:focus {
    box-shadow: none !important;
    background: transparent;
}
.input-group .btn {
    padding: 10px 22px !important;
    border-radius: 30px !important;

}
/* newsletter end */
/* footer start */
.footer{
    background-color: #efefef;
    padding: 100px;
}

.footer-1 img {
    width: 150px;
    margin-bottom: 20px;
}
.footer-1 p {
    font-size: 14px;
    text-align: justify;
    color: #013F7E;
}
.footer-2{
    margin-left: 20px;
}
.footer-2 h3 {
    font-size: 16px;
    color: #013F7E;
    margin-bottom: 20px;
}
.footer-2 p {
    font-size: 14px;
    line-height: 2.2;
    color: #013F7E;
}
.footer-3 .details {
    margin-top: 30px;
}
.info {
    margin-bottom: 20px;
}
.info i {
    color: #013F7E;
    font-size: 14px;
    margin-right: 20px;
    margin-top: 5px;
}
.info p {
    font-size: 14px;
    color: #013F7E;
}
.footer-3 h3 {
    font-size: 16px;
    color: #013F7E;

}
.footer .footer-bottom {
    color: #013F7E;
    font-size: 14px;
}
.footer .footer-bottom i {
    font-size: 18px;
    color: red;
    margin-right: 5px;
}